.featuresCompWrapper{
    display: flex;    
    flex-direction: column;
    /* background-color: #f8f8f8; */
    padding: 20px 0px 100px 0px;
    border-bottom: 2px;
}

.featuresCompTitle{
    margin-left: auto;
    margin-right: auto;
}

.featuresCompBody{
    display: flex;    
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
}

.featuresWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0px;
    padding: 0px;
}

.featuresImg{
    display: flex;
    /* justify-content: center;
    flex-flow: column wrap; */ 
}

.iconTree{    
    width:  200px;
    height: 200px;
    border-radius: 10em;
}

.featuresTitle{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.featuresDescription{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    width: 20vw;
    font-size: medium;
    padding: 0px 20px 20px 20px;
}

@media screen and (max-width: 1000px) {
    .featuresWrapper{
        margin: 0 20px 50px 20px;
    }
}

@media screen and (max-width: 1300px)  {
    .featuresCompWrapper{
        padding: 0px 0vw 100px 0vw;
    }
}