.NewsCardContainer{
    display: flex;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 1em;
    padding: 15px;
    width: -moz-fit-content;
    width: 100%;
    margin-top: 20px;
    /* box-shadow: 3px 1px 1px rgba(0, 0, 0, .5); */
    background-color: rgb(252, 252, 252);
}

.NewsCardLogo{
    /* display: inline; */
    max-width: 100px;
    max-height: 100px;
    padding: 0px 40px 30px 20px;
    margin-top: auto;
}

.NewsCardDetails{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

.NewsCardTitle{
    display: flex;
    padding: 0 0 1px 0;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.NewsCardSource {
    font-size: 15px;
    color: grey;
    margin-bottom: 5px;
}

.NewsCardCategories {
  font-size: 10px;
  color: grey;
  margin-bottom: 5px;
}

.NewsCardDescription{
    display: flex;
    margin-top: 10px;
}

.NewsCardScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: rebeccapurple;
    width: 25%;
}

.NewsCardDividerVertical {
    margin-left: auto;
}

.MetricsTitle {
    margin-bottom: 10px;
}

.MetricsContent {
    margin-top: 10px;
}

.NewsCardNote {
    font-size: 15px;
    color: grey;
    margin-bottom: 5px;
    margin-top: 15px;
}

.ImageContainer {
    margin: auto;
}

.qMarkTooltip {
    width: 20px;
}
