
.landingCompContainer{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    /* align-items: flex-start; */
    height:  90vh;
    /* background-image: url(../../../assets/fakefact.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.landingImg{
    position: relative;
    left:0px;
    top:0px;
    z-index:10;
}
.searchBarContainer {
    margin: auto;
}

.titleContainter{
    /* padding: 7vh 0 0 70px; */
    width: 90vw;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.title{
    font-weight: bold;
    font-size: 6em;
    font-family: "Courier";
}

.titleDescriptor{
    font-display: 100%;
    padding: 50px 0 50px 0;
    font-weight: lighter;
    font-family: "Courier";
}

.chevronContainer {
    margin-left: auto;
    margin-right: auto;
}

.chevronIcon {
    width: 60px;
}

.newsIcon {
    width: 60px;
    padding: 0 0 0 20px;
}
/* .buttonWrapper{
    display: flex;
    flex-flow: row wrap;
    padding: 100px 0px 0px 0px;
}
/*
.loginButton{
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 0px;
    color: azure;
    background-color: rgb(65, 77, 78);
    margin: 0 30px 0 0px;
    /* text-decoration: none;
    text-decoration-color: rgb(70, 247, 247);

}

.signUpButton{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 0em;
    color: white;
    background-color: rgb(54, 105, 114);
    text-decoration: transparent;
}
 */


/* @media screen and (max-width: 1000px) {
    .landingCompContainer{
        flex-flow: column wrap;
        align-items: center;
        padding: 20px 2vw 0px 2vw;
    }
    .mapPictureContainer {
        margin: 50px 0px 0 0;
    }
    .mapPicture{
        display: flex;
        width: 80vw;
        height: auto;
    }
}

@media screen and (max-width: 1300px) and (min-width:1000px) {
    .landingCompContainer{
        padding: 100px 10vw 100px 10vw;
    }
    .mapPicture{
        display: flex;
        width: 40vw;
        height: auto;
    }
} */
