.searchBarComp{
    display: flex;
    text-align: center;
    width: 100%;
}

.searchbar {
    display: flex;
    margin: auto;
    width: 100%;
}
.searchBox {
    min-width: 500px;
}

.searchBoxContainer {
    min-width: 75%;
    margin-right: 10px;
}

.searchButton{
    color: aliceblue;
    text-decoration: transparent;
    font-size: 20px;
    font-weight: bold;
}

.spacerDiv1{
    /* display: flex; */
    width: 50px;
}

.busySpinner2 {
    margin-right: 10px;
  }