.newsCardCompContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: inherit;
    padding: 0 70px 0 70px;
}

.newsCompBody{
    display: flex;    
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
}

.busySpinner {
  text-align: center;
}
/* .newsButtonContainer{
  display: flex;
  justify-content: flex-start ;
  flex-direction: column;
  flex: 1;
  margin: 20px 20px 20px 5px;
}

.projButton{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    padding: 0.3em;
    font-size: 1.2em;
    background-color: black;
    color: #c7f1f7;
    border-color: transparent;
    border-radius: .3em;
  } */

.newsDescriptionAndImageContainer{}

.newsDescriptionAndImageContainer{}

.newsImageContainer{}

.newsDescriptions{}
