.home{
    background-color: transparent;
    /* margin: 0; */
    /* padding: 0; */
}

hr {
    
    width: 95%;
    height: 2px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color:#666;
    border: 0 none;
    margin-top: 80px;
    margin-bottom:80px;
    }

.hrr {
    margin-top: 6rem!important;
}

.particles {
    display: flex;
    position: fixed;
    overflow: hidden;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* color: red;
    background-color: #000000; */
}